@keyframes slideToRight {
  0% {
    transform: translateX(-10rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    transform: translateX(0); } }

@keyframes slideToLeft {
  0% {
    transform: translateX(10rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    transform: translateX(0); } }

@keyframes slideUp {
  0% {
    transform: translateY(5rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: Lato, 'Courier New', Courier, monospace;
  font-weight: 400;
  line-height: 1.7;
  color: #777777;
  padding: 30px;
  box-sizing: border-box; }

.main-title {
  color: #ffffff;
  backface-visibility: hidden;
  margin-bottom: 3rem; }
  .main-title--main {
    text-transform: uppercase;
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.9rem;
    animation-name: slideToRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .main-title--sub {
    text-transform: uppercase;
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.87rem;
    animation-name: slideToLeft;
    animation-duration: 1s; }

.secondary-title {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  transition: 0.5s ease; }
  .secondary-title:hover {
    transform: skewX(10deg) skewY(5deg); }

.tertiary-title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1.25rem; }

.paragraph {
  font-size: 1.5rem;
  font-weight: 400; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.text-centered {
  text-align: center; }

.margin-bottom-small {
  margin-bottom: 0.8rem; }

.margin-bottom-medium {
  margin-bottom: 3rem; }

.margin-bottom-large {
  margin-bottom: 7rem; }

.padding-horizontal-small {
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.padding-horizontal-medium {
  padding-left: 3rem;
  padding-right: 3rem; }

.padding-horizontal-large {
  padding-left: 7rem;
  padding-right: 7rem; }

.btn:link, .btn:visited {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 10rem;
  padding: 0 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s; }

.btn:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.3rem); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.8);
    opacity: 0; }

.btn::after {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #ffffff;
  border-radius: 10rem;
  transition: all 0.3s; }

.btn:active {
  box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.2rem); }

.btn--white {
  background-color: #ffffff;
  color: #777777; }

.btn--animated {
  animation: slideUp 1s ease-out 0.5s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  position: relative;
  color: #55c57c;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 3px;
  border-bottom: 1px solid #55c57c;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57c;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.3rem); }
  .btn-text:hover::after {
    transform: scaleX(1.5) scaleY(1.8);
    opacity: 0; }

.btn-text:active {
  box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  position: relative;
  height: 30rem;
  width: 20rem;
  height: 50rem; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50rem;
    transition: all 0.8s ease;
    backface-visibility: hidden; }
    .card__side--front {
      background-color: orange; }
    .card__side--back {
      background-color: yellow;
      transform: rotateY(-180deg); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

.image-collage {
  position: relative; }
  .image-collage__image {
    position: absolute;
    width: 65%;
    z-index: 10;
    outline-offset: 10px;
    transition: all 0.2s; }
    .image-collage__image--i1 {
      top: -2rem; }
    .image-collage__image--i2 {
      top: 3rem;
      right: 0; }
    .image-collage__image--i3 {
      top: 10rem;
      left: 20%; }
    .image-collage__image:hover {
      outline: 1rem solid #55c57c;
      transform: scale(1.05) translateY(-5px);
      z-index: 20; }
  .image-collage:hover .image-collage__image:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
  height: 35rem; }
  .feature-box__icon {
    font-size: 6rem;
    color: transparent;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text; }
  .feature-box:hover {
    transform: translateY(-1rem) scale(1.05); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 5rem* 2) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * (100% - 5rem* 2) / 3 + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 5rem* 3) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * (100% - 5rem* 3) / 4 + 5rem); }
  .row .col-3-of-4 {
    width: calc(3 * (100% - 5rem* 3) / 4 + 2 *5rem); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 124, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  .header__logo-container {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header__logo-image {
    width: 6rem; }
  .header__title-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  margin-top: -20vh;
  padding: 25rem 0;
  background-color: #f8f8f8; }

.section-features {
  margin-top: -10rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 124, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-position: top;
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  margin-top: 10rem;
  padding: 10rem 0 20rem 0; }
