//Colors
$black: #000000;
$gray-1: #777777;
$gray-light-1: #f8f8f8;
$primary-light: #7ed56f;
$primary: #55c57cba;
$primary-dark: #28b485cb;
$white: #ffffff;

//Grid
$max-width: 114rem;
$gutter-horizontal: 5rem;
$gutter-vertical: 5rem;
